@{
    ViewBag.Title = "ИС Геодезия";
}

<div class="jumbotron">
    <img src="~/resursImg/geo1.png" />  <h1>ИС Геодезия</h1>
    <p class="lead"> ИС Геодезия - компания, оказывающая услуги по геодезическим исследованиям.</p>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Услуги</h2>
        <wbr />
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Заявки</h2>
        <wbr />
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Бригады </h2>
        <wbr />
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>График работы </h2>
        <wbr />
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Сведения о </h2> <h3>всех сотрудниках</h3>
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Работа бригад </h2> <h3>за месяц</h3>
        <p><a class="btn btn-default">Перейти &raquo;</a></p>
    </div>
</div>